<style type="text/css">
.sort-disabled {
    margin-bottom: 15px;
    padding: 0;
    border: 1px solid #c0c6c9;
    background-color: #fff;
    border-radius: 3px;
}
.sort-disabled:hover {
    border: 1px solid #adadad;
    border-top-color: #cfd0d0;
    border-left-color: #cfd0d0; 
}
.sort-disabled .field-header {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-bottom: 1px solid #fff;
    border-radius: 3px 3px 0 0;
}
.sort-disabled .field-content {
    padding: 0 10px 10px;
}
</style>
